xsdschema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="products">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="product">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pname" type="xs:string" />
              <xs:element name="cid" type="xs:string" />
              <xs:element name="sid" type="xs:string" />
              <xs:element name="brand" type="xs:string" />
              <xs:element name="baseprice" type="xs:unsignedInt" />
              <xs:element name="quantity" type="xs:unsignedByte" />
              <xs:element name="description" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="pid" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
